* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: Inter, sans-serif;
  text-indent: 1px;
  color: #FFFFFF;
}

body, html {
  background-color: #000000;
  background-image: url(./assets/images/noise.png), url(./assets/images/colors.png);
  background-position: right bottom;
  background-size: 100% 100%;
  background-attachment: fixed;
}
